<%- include("partials/header")%>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to Campgrounds!</h1>
        <p>Class A campgrounds from all over the world!</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>

        </p>
    </header class="jumbotron">



    <% campgrounds.forEach(function(campgrounds){ %>
    <li><%= campgrounds.name %></li>
    <img src="<%= campgrounds.image %>" alt="Campground Images">
    <% }) %>
</div>

<%- include("partials/footer")%>