
<%- include("partials/header")%>

<h1>Create New Campground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name" id="">
    <input type="text" name="image" placeholder="image" id="">
    <button>Submit</button>

</form>

<a href="/campgrounds">Go Back</a>
<%- include("partials/footer")%>



